<div class="container">
  
    <!-- Control the column width, and how they should appear on different devices -->
    <div class="row">
      <div class="col-3  hidden-sm">
        <table class="table table-borderless">
          <thead class="thead-dark">
            <tr>
              <td>Queued Players: </td>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users">
              <td>{{user.payload.doc.data().channelName}}</td>
            </tr>
          </tbody>
        </table>
      </div>
  
      <div class="col-6">
        <app-countdown></app-countdown>
        <h1 style="text-align: center;">until next game... </h1>
        <img src="../assets/gravityBong.png" class="img-fluid center" alt="Responsive image" style="margin-left: 30px;">
      </div>
  
      <div class="col-3 hidden-sm">
          <div class="container">
            <input [(ngModel)]="submittedUsername" style="color: black; font-weight: bold; font-size: large;" type="text"  placeholder="Enter channel name...">
            <button class="btn btn-danger btn-block btn-lg" (click)="callCloudFunction()">Register</button>
          </div>
      </div>
    </div>
    <div class="row">
        <button type="button" class="btn btn-sm btn-secondary" style="display: inline;">Learn More</button>
        <button type="button" class="btn btn-sm btn-secondary" style="display: inline;" (click)="onClick()">View All Matches</button>
    </div>
</div>